.manage-articles {
  padding: 20px;
}

.manage-articles h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.articles-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.articles-table th,
.articles-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.articles-table th {
  background-color: #f4f4f4;
}

.article-image {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.articles-table button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.articles-table button:hover {
  background-color: darkred;
}
