.admin-comments {
  padding: 2rem;
  padding-top: 50px;
}

.comments-table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.comments-table th,
.comments-table td {
  border: none;
  padding: 12px;
  text-align: left;
}

.table-comment{
  width: 100%;
}

.comments-table th {
  background-color: #fff;
}

.comments-table button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comments-table button:hover {
  background-color: darkred;
}