.order-list{
    width: 100%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    color: #505050;
}

.order-item-tours , .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 20px;
    margin-bottom: 10px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: #ffff;
    width: max(10vw, 120px);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    outline: none;
}

@media (max-width: 1000px) {
    .order-list{
        width: 75vw;
    }
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}
.order-item-status {
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
  }
  .belum-bayar {
    color: red;
  }
  .sudah-bayar {
    color: green;
  }

