.add-article {
  padding: 2rem;
  padding-top: 50px;
}

.add-article h1 {
  margin-bottom: 20px;
}

.add-article form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.add-article label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-article input,
.add-article textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-article button {
  padding: 10px;
  background-color: #0083ff;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

.add-article button:hover {
  background-color: #5aafff;
}