.table-container {
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 16px;
}

.list-table {
    min-width: 500px;
    overflow: hidden;
    text-align: left;
    padding: 8px;
    width: 100%;
    border: none;
}

.image-container {
    width: fit-content !important;
    text-align: center;
}

td {
    padding: 8px;
}

.list-table * {
    border: none;
}

.list-table thead {
    height: 42px;
}

tr:nth-child(odd) {
    background-color: #eff1f5;
}

.list-table-format {
    color: black;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #fff;
    padding: 12px 15px;
    font-size: 16px;
}

.name-field {
    width: 50%;
}

.header {
    font-size: 2rem;
}

.list-table-format.title {
    background-color: white;

}

.list-table-format .tour-image {
    width: 100px;
    border-radius: 5px;

}

.action-button {
    width: fit-content;
    text-align: center;
}

.opacity {
    opacity: 0.5;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    transform: scale(1.1);
    transition: .1s ease-in-out;

}

.edit-icon {
    width: 25px;
}

@media (max-width:600px) {

    .list-table-format .tour-image {
        width: 50px;
    }

    .hide {
        display: none;
    }

    .edit-icon {
        width: 15px;
    }
}